/*body,
.dark-logo-bg{
    background: #32323a;
}

.white-logo-bg {
    background: #fff;
}

.logo.white-logo-bg a {
    color: #32323a;
}

.logo.gray-logo-bg a {
    color: #32323a;
}*/

.sidebar-left .nav > li > a:hover,
.sidebar-left .nav > li > a:focus,
.side-navigation > li.active > a,
.side-navigation > li.active > a:hover,
.side-navigation > li.active > a:focus,
.side-navigation > li.menu-list > a:hover,
.side-navigation > li.nav-active > a,
.side-navigation .child-list,
.sidebar-collapsed .side-navigation > li.nav-hover > a,
.sidebar-collapsed .side-navigation > li.nav-hover.active > a,
.sidebar-collapsed .side-navigation li.nav-hover.active a span,
.sidebar-collapsed .side-navigation li a span,
.sidebar-collapsed .side-navigation li.nav-hover ul{
    background-color: #29282e;
}

.side-navigation > li.active > a,
.side-navigation > li.active > a:hover,
.side-navigation > li.active > a:focus,
.side-navigation .child-list > li > a:hover,
.side-navigation .child-list > li > a:active,
.side-navigation .child-list > li > a:focus,
.mega-menu ul li ul li a:hover,
.weather-widget .weather-info .degree ,
.weather-widget .weather-info .degree:after,
.side-navigation > li.nav-active > a,
.side-navigation > li > a:hover, .side-navigation > li > a:active,
.side-navigation > li.nav-active > a:after{
    color: #7cd8a9;
}


.r-close-btn:hover {
    background: #7cd8a9;
}


.side-navigation .child-list > li > a:hover,
.side-navigation .child-list > li > a:active,
.side-navigation .child-list > li > a:focus,
.sidebar-collapsed .side-navigation ul a:hover{
    background: rgba(0,0,0,0.2);
}


.navigation-title {
    color: rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255,255,255,0.05);
    border-bottom: 1px solid rgba(255,255,255,0.05);
}


.sidebar-widget {
    border-top: 1px solid rgba(255,255,255,0.05);
}
